.container{
    display: flex;
    align-items: center;
    gap: 15px;
}
.btn {
    min-width: 55px;
    padding: 3px;
    height: 28px;
    font-size: 18px;
    border: none;
    background-color: rgb(204, 170, 48);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-self: center;
  }
  .btn:hover {
    background-color: #ff7d00;
  }
  .btn:focus {
    background-color: #ff7d00;
  }